// corporate

$corp-darker: #fbba13;
$corp: #ffd008;
$corp-brighter: #ffedaa;
$corp-brightest: #fff6d0;

// actual colors

$green: #53e25a;
$green-brighter: #8cea9b;
$lavender: #98a6ff;
$lavender-brighter: #d1d7ff;
$salmon: #ff7d7d;
$salmon-brighter: #ffd0cf;
$silver: #eff3f5;

$red: #e4121e;
$blue: #3071A9;

// text colors

$ink: #333;
$ink-title: #3c3c3c;
$ink-brighter: #969b9f;
$ink-brightest: #dadee0;
