@import "devices";
@import "colors";

.ui-accordion {
  .accordion-wrapper,
  .accordion--wrapper {
    .ui-accordion-header {
      &.accordion-tables_header {
        display: flex;
        box-sizing: border-box;
        margin-bottom: -3px;
        padding: 10px 15px;
        font-size: 26px;
      }
    }
    .ui-accordion-content {
      padding: 0;
    }
  }
}

.accordion-wrapper {
  margin: 10px 0 0;
  padding: 0 0 10px;

  ul {
    margin: 0;
    padding: 0;
  }

  ul,
  li {
    list-style: none;
  }
}

.accordion-tables_group {
  position: relative;
  overflow: hidden;
}

.accordion-table {
  overflow-x: scroll;
  border-top: 3px solid $corp;
}

.accordion-tables_header {
  display: flex;
  align-items: center;
  min-height: 60px;
  margin-top: 0;
  margin-bottom: -3px;
  padding: 10px 15px;
  color: $ink;
  border-bottom: 3px solid $corp;
  background-color: $corp-brightest;
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
  box-sizing: border-box;
}

.accordion--list {
  &.sidebar-column {
    border-right: 1px solid $ink-brightest;
    font-weight: bold;

    &.dashed {
      border-right: 1px dashed $ink-brightest;
    }
  }
}

.accordion--item {
  box-sizing: border-box;
  height: 40px;
  padding: 0 15px;
  white-space: nowrap;
  letter-spacing: normal;
  color: $ink;
  border-bottom: 1px solid $ink-brightest;
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;

  &:first-child,
  &.heading {
    height: 44px;
    text-transform: capitalize;
    border-bottom: none;
    background-color: $silver;
    font-size: 18px;
    font-weight: bold;
    line-height: 44px;
  }

  &:nth-child(odd) {
    background-color: $silver;
  }
}

.accordion--item_hint {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.22px;
  color: $ink;
}

.accordion-hints_group {
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.konjugation {
  &.independent-groups {
    .accordion-table {
      display: grid;
      grid-template-columns: 100px auto;
    }

    .accordion--list {
      &.content-column {
        .accordion--item {
          &:first-child {
            z-index: 2;
            width: calc(100% + 100px);
            transform: translateX(-100px);
          }
        }
      }
    }

    &.imperativ {
      .accordion-tables_group {
        grid-template-columns: auto;
      }

      .accordion-table {
        grid-template-columns: max-content minmax(max-content, auto);
        border-right: none;
      }

      .accordion--list {
        &.content-column {
          .accordion--item {
            &:first-child {
              font-weight: 400;
            }
          }
        }

        .accordion--item {
          font-weight: 400;

          &:nth-child(odd) {
            background-color: #fff;
          }

          &:nth-child(even) {
            background-color: $silver;
          }

          &:first-child {
            width: auto;
            transform: none;
            height: 40px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@include phone {
  .accordion-table {
    display: grid;
    grid-template-columns: 100px minmax(max-content, auto);
  }

  .accordion-tables_group {
    .accordion-table {
      &:first-child {
        margin-bottom: 40px;
      }
    }
  }

  .accordion--list {
    &.content-column {
      .accordion--item {
        &:first-child {
          position: absolute;
          width: 100%;
        }

        &:nth-child(2) {
          margin-top: 44px;
        }
      }
    }

    &.sidebar-column {
      position: sticky;
      z-index: 1;
      left: -0.5px;
      background: #fff;
    }
  }

  .deklination {
    &.combined-groups {
      .accordion-tables_group {
        &:first-child {
          .accordion-table {
            &:last-child {
              margin-bottom: 40px;
            }
          }
        }
      }
    }
  }

  .konjugation {
    &.independent-groups {
      &.imperativ {
        .accordion-tables_group {
          &:first-child {
            .accordion-table {
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        .accordion--list {
          &.content-column {
            .accordion--item {
              &:nth-child(2) {
                margin-top: 40px;
              }
            }
          }
        }
      }
    }
  }

  .konjugation,
  .deklination {
    &.combined-groups {
      &.odd {
        .accordion-groups {
          .accordion-tables_group {
            &:last-child {
              .accordion-table {
                margin-bottom: 0;
              }
            }

            .accordion-table {
              grid-template-columns: auto;
            }
          }
        }
      }
    }
  }
}

@include tablet-to-imac {
  .accordion-wrapper {
    margin: 15px 0 0;
    padding: 0 0 15px;
  }

  .konjugation {
    &.independent-groups {
      .accordion-table {
        grid-template-columns: 100px minmax(max-content, auto);

        &:first-child {
          border-right: 1px solid $ink-brightest;
        }
      }

      &.imperativ {
        .accordion-table {
          &:first-child {
            border-right: none;
          }
        }
      }
    }
  }

  .konjugation,
  .deklination {
    &.combined-groups {
      &.odd {
        .accordion-groups {
          display: grid;
          grid-template-columns: repeat(3, auto);

          .accordion-tables_group {
            grid-template-columns: auto;

            &:first-child {
              margin-bottom: 0;

              .accordion-table {
                &:first-child {
                  grid-template-columns: auto;
                }
              }
            }

            &:last-child {
              .accordion-table {
                &:first-child {
                  grid-template-columns: auto;
                  border-right: none;
                }
              }
            }

            .accordion-table {
              grid-template-columns: auto;
              border-right: 1px solid #dadee0;
            }
          }
        }
      }
    }
  }
}

@include tablet {
  .accordion-tables_group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .deklination {
    &.combined-groups {
      .accordion-tables_group {
        &:first-child {
          margin-bottom: 40px;
        }
      }
    }

    &.single-group,
    &.combined-groups {
      .accordion-tables_group {
        &:first-child,
        &:last-child {
          .accordion-table {
            &:first-child {
              display: grid;
              grid-template-columns: 100px 1fr;
              border-right: 1px solid $ink-brightest;
            }

            &:last-child {
              .sidebar-column {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@include laptop-to-imac {
  .accordion-tables_group {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .deklination {
    &.combined-groups {
      .accordion-groups {
        display: grid;
        grid-template-columns: repeat(2, auto);

        .accordion-tables_group {
          display: grid;
          grid-template-columns: repeat(2, auto);

          &:last-child {
            .accordion-table {
              .sidebar-column {
                display: none;
              }
            }
          }
        }
      }
    }

    &.single-group {
      .accordion-tables_group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &.single-group,
    &.combined-groups {
      .accordion-tables_group {
        .accordion-table {
          border-right: 1px solid $ink-brightest;
        }

        &:first-child {
          .accordion-table {
            &:first-child {
              display: grid;
              grid-template-columns: 100px 1fr;
            }

            &:last-child {
              .sidebar-column {
                display: none;
              }
            }
          }
        }

        &:last-child {
          .accordion-table {
            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }
  }

  .konjugation {
    &.independent-groups {
      .accordion-tables_group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
